= simple_form_for bar do |f|
  - binding.pry
  = f.label :name, 'Bar name'
  = f.text_field :name
  #map
  //= f.association :beers, collection: Beer.all, input_html: { multiple: true, class: 'select2_special' }
  = f.association :beers, label_method: :name, value_method: :id, label: 'Beers', input_html: { multiple: true, class: 'select2_special' }
  = f.hidden_field :lat, id: 'map_lat'
  = f.hidden_field :lng, id: 'map_lng'
  = link_to "Return to Bar list", bars_path, class: 'btn btn-default'
  = f.submit

:javascript
  $(document).ready(function(){
    var local = #{bar.to_json}
    gmap_form(local);

    $(".select2_special").select2();
  });