.row
  .col-lg-8
    %h1 All bars
  .col-md-4
    = form_tag geek_beers_path, method: 'get' do
      %h3 Bars in your city:
      %p
        = select_tag 'search_city', options_for_select(cities_names)
        = submit_tag 'Find bars', name: nil
  %table.table.table-condensed
    %tr
      %th Name
      %th Address
      %th
    - bars.each do |bar|
      %tr
        %td= bar.name_with_count
        %td= bar.street_and_city
        %td= link_to 'Show', geek_beer_path(bar)
