%h1= bar.name
%p
  City:
  = bar.city
%p
  Street:
  = bar.street
%ul
- if bar.beers.present?
  %table.table-condensed
    %tr
      %th Beer name:
      %th Your rate
    - bar.beers.each do |fbeer|
      %tr
        %td= fbeer.name
        %td= rating_for fbeer, "taste", disable_after_rate: true, imdb_avg: true
- else
  %p No beers available :(
#map
%p
  = link_to 'All bars', geek_beers_path, class: 'btn btn-default'
